.git
**/clusterData*
**/.ipynb_checkpoints
**/Data
**/temp_state*
**/__pycache__
**/saved_models
**/data_sets*
**/.idea
**/temps_to_save
**/statistics/*Toolbox*
**/ml/shuffle_results*
ml/results*
ml/raw*
**/ml/predictions
**/ml/old_runs
**/venv
requirements.txt
*.mat
